#container1{
    height: 300px;
    width: 500px;
    background-color: rgb(213, 213, 223);
    display: flex;
    margin: 10px;
    
}
#container1 div{
      width:100px ;
      text-align: center;
      font-size: 40px;
}
#div1{
    order: 1;
    background-color: red;
}
#div2{
    order: 0;
    background-color: orange;
}
#div3{
    order: 1;
    background-color: yellow;
}
#div4{
    order: 3;
    background-color: green;
}
#div5{
    order: 2;
    background-color: blue;
}
  