li:first-child{
    color: cyan;
}
li:last-child{
    color:blue;
}
li:nth-last-child(3){
    color:rgba(255, 0, 0, 0.678);
}
/***********nth-child() pseudo class*******/
p:nth-child(2n+1){
    color:fuchsia;
}
p:nth-child(2n){
    color:rgb(122, 214, 30);
}
p:nth-child(2){
    color:crimson;
}

