a{
    padding: 20px ;
    margin-top: 70px;
    margin-right: 40px;
    background-color:cyan;
    text-decoration: none;
    font-size: 40px;
}

/* a:hover{
    display: inline-block;
    transform: translate(100px,100px);
} */  

/* a:hover{
    display: inline-block;
    transform: rotate(-45deg);
} */
